/*CONTACTO SECTION*/

.contacto{
    width: 100%;
    height: auto;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titulo-contacto{
    color: white;
    font-size: 55px;
    text-align: center;
    margin: 50px;
}


.form{
    position: relative;
    background-color: none;
    margin:  60px auto;
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    text-align: center;
    outline: none;

}

.form-contenedor{
    
    display: grid;
    gap: 3em;
    
    outline: none;
}
.form-grupo{
    background: none;
    position: relative;
    --color: #5757577e;
    outline: none;
}
.form-input, #message{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    resize: none;
}
input{
    outline: none;
    background: none;
    color: transparent;
}
input:focus{
    outline: none;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-show)+ .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 5px;
    transition:  0.5s ease all;
    pointer-events: none;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
input:focus~label, input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #3866f2;
}

.form-submit{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.form-submit:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 10px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}


.social-media{
    
    display: flex;
    justify-content: center;
}
.social-media-icon{
    display: inline-block;
    margin: 22px 10px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.Final{
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    color: white;
}